body {
    background-color: #f7f7f7;
}
.jumbotron {
    background-size: 100% 100%;
    text-align:center;
    background-color: rgb(246, 241, 236);
}


#section-1 {
    background-color: rgb(199, 174, 168);
}

#section-2 {
    background-color: rgb(199, 174, 168);
}

